
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body{
  max-width: 100vw;
}
.amz-navBar{
  background-color: #010101;
  height: 50px;
  display: flex;
  align-items: center;  
  justify-content: space-between;

}
.amz-logo{
  color: rgb(255, 255, 255);
  width: 130px;
  height: 85px;
  background-image: url("../Images-amzon/amazon-2-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1)
}
  
.amz-search-button{
  padding: 10px;
  height: 44px;
  width: 45px;
  background-image: url("/Images-amzon/amz-search.svg");
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(252, 168, 72);
  border: 2px thick black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0px 6px 6px 0px;

}
.amz-searchBar{
  display: flex;
  height: 40px;
  width: 900px;
  border-radius: 4px;
  overflow: hidden;
}
.amz-dropDown{
  width: 60px;
  border: none;
  background: hsl(0, 2%, 88%);
  padding: 5px;
}
.amz-search-input{
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.amz-searchBar:focus,
.amz-dropDown:focus{
  outline: none;
}

.amz-return-And-Orders{
    display: flex;
    flex-direction: column;
    margin-left: 30px;

}

.amz-returns{
  display: inline-block;
  color: #f0f0f0;
  width: 114px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

}
.amzCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;

}
.amz-cart-number,
.amz-cart-svg{
  display: inline-block;
  color: wheat;
  padding-left: 25px;
  
}
.amz-cart-svg{
  background-image: url("../Images-amzon/cart-lines-1-svgrepo-com.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 20px;
  background-position: center;
  filter: invert(1);
}
.amz-nav-signin{
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
}
.amz-top-signin{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.amz-bottom-signin{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

}